{# /tags/ — port of astro/src/pages/tags/index.astro #}
{% extends "base.html" %}
{% block title %}Tags - {{ config.title }}{% endblock title %}
{% block metatitle %}Tags - {{ config.title }}{% endblock metatitle %}
{% block description %}Tags used in posts on {{ config.title }}.{% endblock description %}
{% block main %}
<article data-pagefind-ignore>
  <span id="tag-cloud">
    <h1><a href="/tags">Tags</a></h1>
    <div class="my-10 mx-auto max-w-4xl">
      {{<tag_cloud show_count={true} display_number={999} />}}
    </div>
  </span>
</article>
{% endblock main %}
