# editor files
.vscode/
.eslint*
.prettier*

# build output
dist
.astro/content-assets.mjs 

# dependencies
node_modules/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
