{% set is_home = current_path is defined and current_path == "/" %}
<div class="sidebar-about">
  <h2 class="sidebar-heading"><a href="/about" class="text-hyperlink">About</a></h2>
  <p>
    I write about <a href="/1" class="text-hyperlink-blurb">computing related topics</a>. You can <a href="/search" class="text-hyperlink-blurb">search</a> or <a href="/1" class="text-hyperlink-blurb">browse</a> this site. Most of what I write about here is
    {{<apple_icon />}}<a href="/tags/mac/" class="text-hyperlink-blurb">Mac</a> or web
    related.
    <a href="/now" class="text-hyperlink-blurb">Here</a>
    is what I'm up to <a href="/now" class="text-hyperlink-blurb">now</a>, and <a href="/uses" class="text-hyperlink-blurb">here</a> is what I <a href="/uses" class="text-hyperlink-blurb">use</a>.
  </p>
</div>
<div class="sidebar-search">
  {% include "partials/search.html" %}
</div>
{% if not is_home %}{{<latest_posts />}}{% endif %}
<span data-pagefind-ignore="all">
  <h2 class="sidebar-heading"><a href="/1" class="text-hyperlink">Useful Stuff</a></h2>
  <section id="useful" class="text-[0.8em]">
    <ul>
      <li><a href="/search">Search</a></li>
      <li><a href="/links">Links</a></li>
      <li><a href="/now">/now</a></li>
      <li><a href="/reviews">Reviews</a></li>
      <li><a href="/uses">/uses</a></li>
      <li><a href="/reads/1">Reads</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/tags">#tags</a></li>
    </ul>
  </section>
  {% if not is_home %}
    <h2 class="sidebar-heading text-hyperlink">Recent Updates</h2>
    {% include "partials/recent_updates.html" %}
  {% endif %}
</span>
