@import "normalize.css";
@import url(https://fonts.bunny.net/css?family=metrophobic:400);

html {
  --brand-light: #2d257e;
  --accent-pink-light: rgb(224, 81, 143);
  --accent-green-light: rgb(7, 142, 0);
  --accent-green-darker-light: rgb(5, 88, 0);
  --accent-blue-light: rgb(0, 92, 222);
  --accent-purple-light: rgb(106, 0, 212);
  --accent-orange-darker-light: #f85903;
  --accent-orange-light: rgb(254, 214, 105);
  --accent-pink-darker-light: rgb(245, 85, 202);
  --accent-red-light: rgb(230, 0, 0);
  --accent-yellow-light: rgb(212, 205, 0);
  --accent-white-light: rgb(48, 49, 52);
  --dates-light: var(--accent-purple-light);
  --title-light: #3b00df;
  --hyperlink-light: #002fec;
  --text1-light: rgb(2, 2, 45);
  --text2-light: #000000;
  --text3-light: white;
  --quote-light: var(--text1-light);
  --quote-bg-light: #fff7ca;
  --surface-menu-light: rgb(245, 240, 255);
  --nav-bg-light: var(--surface-menu-light);
  --nav-border-light: var(--surface-menu-light);
  --post-bg-light: var(--surface-menu-light);
  --surface1-light: rgb(233, 250, 253);
  --background-light: rgb(249, 246, 255);
  --language-id-light: rgb(88, 243, 88);
  --accent-shadow-light: rgba(101, 18, 179, 0.7);
  --footnote-link-light: #eddeff;
  --footnote-bg-light: var(--hyperlink-light);
  --footnote-text-light: var(--text3-light);
  --footnote-border-light: var(--brand-light);
  --footnote-bubble-light: var(--brand-light);
  --pager-current-light: var(--brand-light);
  --pager-current-text-light: var(--text3-light);
  --pager-hover-light: var(--brand-light);
  --theme-toggle-light: var(--accent-orange-darker-light);

  --brand-dark: rgb(254, 214, 105);
  --accent-pink-dark: rgb(255, 158, 200);
  --accent-green-dark: rgb(140, 243, 134);
  --accent-green-darker-dark: rgb(96, 243, 88);
  --accent-blue-dark: rgb(151, 226, 255);
  --accent-purple-dark: rgb(193, 136, 249);
  --accent-orange-darker-dark: #de9351;
  --accent-orange-dark: #f3ca73;
  --accent-pink-darker-dark: rgb(252, 126, 180);
  --accent-red-dark: rgb(255, 70, 70);
  --accent-yellow-dark: rgb(253, 253, 186);
  --accent-white-dark: rgb(243, 246, 255);
  --dates-dark: var(--accent-orange-darker-dark);
  --title-dark: var(--hyperlink-dark);
  --hyperlink-dark: #00a0ff;
  --text1-dark: #f6f7ed;
  --text2-dark: #58cce7;
  --text3-dark: white;
  --quote-dark: var(--text1-dark);
  --quote-bg-dark: var(--surface-menu-dark);
  --surface1-dark: rgb(2, 0, 36);
  --background-dark: rgb(3, 0, 52);
  --surface-menu-dark: #0a094b;
  --nav-bg-dark: var(--surface-menu-dark);
  --nav-border-dark: var(--surface-menu-dark);
  --post-bg-dark: var(--surface-menu-dark);
  --scroll-dark: #002338;
  --language-id-dark: rgb(243, 202, 88);
  --accent-shadow-dark: var(--hyperlink-dark);
  --footnote-link-dark: rgb(0, 0, 255);
  --footnote-bg-dark: var(--text3-dark);
  --footnote-text-dark: var(--surface1-dark);
  --footnote-border-dark: var(--accent-blue-dark);
  --footnote-bubble-dark: var(--text3-dark);
  --pager-current-dark: var(--accent-purple-dark);
  --pager-current-text-dark: var(--text3-dark);
  --pager-hover-dark: var(--accent-purple-dark);
  --theme-toggle-dark: var(--accent-orange);

  --brand-hypercritical: #051a93;
  --accent-pink-hypercritical: rgb(206, 0, 148);
  --accent-green-hypercritical: rgb(6, 109, 0);
  --accent-green-darker-hypercritical: rgb(4, 88, 0);
  --accent-blue-hypercritical: rgb(0, 17, 255);
  --accent-purple-hypercritical: rgb(75, 0, 150);
  --accent-orange-darker-hypercritical: #9f4a00;
  --accent-orange-hypercritical: #bc8100;
  --accent-pink-darker-hypercritical: rgb(152, 7, 70);
  --accent-red-hypercritical: rgb(192, 0, 0);
  --accent-yellow-hypercritical: rgb(253, 253, 186);
  --accent-white-hypercritical: rgb(42, 42, 42);
  --dates-hypercritical: var(--accent-orange-hypercritical-dark);
  --title-hypercritical: var(#000dbd);
  --hyperlink-hypercritical: var(--accent-blue-hypercritical);
  --text1-hypercritical: var(--text1-light);
  --text2-hypercritical: var(--text2-light);
  --text3-hypercritical: var(--text3-light);
  --quote-hypercritical: var(--quote-light);
  --quote-bg-hypercritical: var(--surface-menu-hypercritical);
  --surface1-hypercritical: #e3a649;
  --background-hypercritical: var(--surface1-hypercritical);
  --surface-menu-hypercritical: rgba(254, 234, 175, 0.54);
  --nav-bg-hypercritical: var(--surface-menu-hypercritical);
  --nav-border-hypercritical: var(--surface-menu-hypercritical);
  --post-bg-hypercritical: var(--surface-menu-hypercritical);
  --scroll-hypercritical: #0046c9;
  --language-id-hypercritical: rgb(88, 243, 88);
  --accent-shadow-hypercritical: rgba(57, 3, 107, 0.7);
  --footnote-link-hypercritical: #e1ddfd;
  --footnote-bg-hypercritical: var(--brand-hypercritical);
  --footnote-text-hypercritical: var(--text3-hypercritical);
  --footnote-border-hypercritical: var(--surface1-hypercritical);
  --footnote-bubble-hypercritical: var(--brand-hypercritical);
  --pager-current-hypercritical: var(--accent-purple-hypercritical);
  --pager-current-text-hypercritical: var(--text3-hypercritical);
  --pager-hover-hypercritical: var(--accent-purple-hypercritical);
  --theme-toggle-hypercritical: var(--brand-hypercritical);
}

:root {
  --font-fallback: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --font-body: "Metrophobic", system-ui, var(--font-fallback);
  --font-mono: "IBM Plex Mono", Consolas, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
    "Courier New", Courier, monospace;

  /* --font-title: "CaptainEdward-Bold"; */
  /* --font-title: "Cartridge-BoldRough"; */
  /* --font-title: "Cartridge-Bold"; */
  --font-title: "Cartridge-Bold";
  /* --font-blockquote-before: "Cartridge-BoldRough"; */
  --font-blockquote-before: "Cartridge-Bold";

  --pagefind-ui-scale: 0.8;
  --pagefind-ui-primary: var(--surface-menu);
  --pagefind-ui-text: rgb(255, 255, 255);
  --pagefind-ui-message-text: #ffffff;
  --pagefind-ui-result-title-text: var(--brand);
  --pagefind-ui-result-text: #ffffff;
  --pagefind-ui-background: white;
  --pagefind-input-background: var(--brand);
  --pagefind-ui-border: var(--accent-pink);
  --pagefind-ui-tag: #ffffff;
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: sans-serif;
  --pagefind-button-background: var(--pagefind-input-background);
  --pagefind-button-color: var(--pagefind-ui-message-text);
}

[site-theme="light"] {
  --brand: var(--brand-light);
  --accent-pink: var(--accent-pink-light);
  --accent-green: var(--accent-green-light);
  --accent-green-darker: var(--accent-green-darker-light);
  --accent-blue: var(--accent-blue-light);
  --accent-purple: var(--accent-purple-light);
  --accent-orange-darker: var(--accent-orange-darker-light);
  --accent-orange: var(--accent-orange-light);
  --accent-pink-darker: var(--accent-pink-darker-light);
  --accent-red: var(--accent-red-light);
  --accent-yellow: var(--accent-yellow-light);
  --accent-white: var(--accent-white-light);
  --dates: var(--dates-light);
  --title: var(--title-light);
  --hyperlink: var(--hyperlink-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --text3: var(--text3-light);
  --quote: var(--quote-light);
  --quote-bg: var(--quote-bg-light);
  --accent-shadow: var(--accent-shadow-light);
  --footnote-link: var(--footnote-link-light);
  --footnote-bg: var(--footnote-bg-light);
  --footnote-text: var(--footnote-text-light);
  --footnote-border: var(--footnote-border-light);
  --footnote-bubble: var(--footnote-bubble-light);
  --pager-current: var(--pager-current-light);
  --pager-current-text: var(--pager-current-text-light);
  --pager-hover: var(--pager-hover-light);
  --theme-toggle: var(--theme-toggle-light);

  --surface1: var(--surface1-light);
  --surface-menu: var(--surface-menu-light);
  --nav-bg: var(--nav-bg-light);
  --nav-border: var(--nav-border-light);
  --background: var(--background-light);
  --post-bg: var(--post-bg-light);
  --scroll: var(--scroll-light);

  --site-name: var(--text3-light);

  --language-id: var(--language-id-light);

  --pagefind-ui-primary: var(--surface-menu);
  --pagefind-ui-text: #fff;
  --pagefind-ui-message-text: #000;
  --pagefind-ui-result-title-text: var(--brand);
  --pagefind-ui-result-text: #000;
  --pagefind-ui-background: var(--surface1);
  --pagefind-input-background: var(--hyperlink);
  --pagefind-ui-border: var(--accent-pink);
  --pagefind-ui-tag: #0d0a01;
  --pagefind-button-color: var(--pagefind-ui-text);
}

[site-theme="dark"] {
  --brand: var(--brand-dark);
  --accent-pink: var(--accent-pink-dark);
  --accent-green: var(--accent-green-dark);
  --accent-green-darker: var(--accent-green-darker-dark);
  --accent-blue: var(--accent-blue-dark);
  --accent-purple: var(--accent-purple-dark);
  --accent-orange-darker: var(--accent-orange-darker-dark);
  --accent-orange: var(--accent-orange-dark);
  --accent-pink-darker: var(--accent-pink-darker-dark);
  --accent-red: var(--accent-red-dark);
  --accent-yellow: var(--accent-yellow-dark);
  --accent-white: var(--accent-white-dark);
  --dates: var(--dates-dark);
  --title: var(--title-dark);
  --hyperlink: var(--hyperlink-dark);
  --text1: var(--text1-dark);
  --text2: var(--text2-dark);
  --text3: var(--text3-dark);
  --quote-bg: var(--quote-bg-dark);
  --accent-shadow: var(--accent-shadow-dark);
  --footnote-link: var(--footnote-link-dark);
  --footnote-bg: var(--footnote-bg-dark);
  --footnote-text: var(--footnote-text-dark);
  --footnote-border: var(--footnote-border-dark);
  --footnote-bubble: var(--footnote-bubble-dark);
  --pager-current: var(--pager-current-dark);
  --pager-current-text: var(--pager-current-text-dark);
  --pager-hover: var(--pager-hover-dark);
  --theme-toggle: var(--theme-toggle-dark);

  --surface1: var(--surface1-dark);
  --surface-menu: var(--surface-menu-dark);
  --nav-bg: var(--nav-bg-dark);
  --nav-border: var(--nav-border-dark);
  --background: var(--background-dark);
  --post-bg: var(--surface-menu-dark);
  --scroll: var(--scroll-light);

  --site-name: var(--text3-dark);

  --language-id: var(--language-id-dark);

  --pagefind-ui-primary: var(--surface-menu);
  --pagefind-ui-text: rgb(255, 255, 255);
  --pagefind-ui-message-text: #fff;
  --pagefind-ui-result-title-text: var(--brand);
  --pagefind-ui-result-text: #fff;
  --pagefind-ui-background: #83645a;
  --pagefind-input-background: var(--hyperlink);
  --pagefind-ui-border: var(--brand);
  --pagefind-ui-tag: #b59c94;
  --pagefind-button-color: var(--pagefind-ui-text);
}

[site-theme="hypercritical"] {
  --brand: var(--brand-hypercritical);
  --accent-pink: var(--accent-pink-hypercritical);
  --accent-green: var(--accent-green-hypercritical);
  --accent-green-darker: var(--accent-green-darker-hypercritical);
  --accent-blue: var(--accent-blue-hypercritical);
  --accent-purple: var(--accent-purple-hypercritical);
  --accent-orange-darker: var(--accent-orange-darker-hypercritical);
  --accent-orange: var(--accent-orange-hypercritical);
  --accent-pink-darker: var(--accent-pink-darker-hypercritical);
  --accent-red: var(--accent-red-hypercritical);
  --accent-yellow: var(--accent-yellow-hypercritical);
  --accent-white: var(--accent-white-hypercritical);
  --dates: var(--dates-hypercritical);
  --title: var(--title-hypercritical);
  --hyperlink: var(--hyperlink-hypercritical);
  --text1: var(--text1-hypercritical);
  --text2: var(--text2-hypercritical);
  --text3: var(--text3-hypercritical);
  --quote-bg: var(--quote-bg-hypercritical);
  --accent-shadow: var(--accent-shadow-hypercritical);
  --footnote-link: var(--footnote-link-hypercritical);
  --footnote-bg: var(--footnote-bg-hypercritical);
  --footnote-text: var(--footnote-text-hypercritical);
  --footnote-border: var(--footnote-border-hypercritical);
  --footnote-bubble: var(--footnote-bubble-hypercritical);
  --pager-current: var(--pager-current-hypercritical);
  --pager-current-text: var(--pager-current-text-hypercritical);
  --pager-hover: var(--pager-hover-hypercritical);
  --theme-toggle: var(--theme-toggle-hypercritical);

  --surface1: var(--surface1-hypercritical);
  --background: var(--background-hypercritical);
  --surface-menu: var(--surface-menu-hypercritical);
  --nav-bg: var(--nav-bg-hypercritical);
  --nav-border: var(--nav-border-hypercritical);
  --post-bg: var(--post-bg-hypercritical);
  --scroll: var(--scroll-light);

  --site-name: var(--text3-hypercritical);

  --language-id: var(--language-id-hypercritical);

  --pagefind-ui-primary: var(--surface-menu);
  --pagefind-ui-text: #fff;
  --pagefind-ui-message-text: #000;
  --pagefind-ui-result-title-text: var(--brand);
  --pagefind-ui-result-text: #000;
  --pagefind-ui-background: var(--surface1);
  --pagefind-input-background: var(--brand);
  --pagefind-ui-border: var(--accent-blue);
  --pagefind-ui-tag: #ffffff;
  --pagefind-button-color: var(--pagefind-ui-text);
}

@font-face {
  font-family: BlinkMacSystemFont;
  src: url("/fonts/BlinkMacSystemFont-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Cartridge-Regular;
  src: url("/fonts/Cartridge/Cartridge-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Cartridge-Rough;
  src: url("/fonts/Cartridge/Cartridge-Rough.woff2") format("woff2");
}

@font-face {
  font-family: Cartridge-Bold;
  src: url("/fonts/Cartridge/Cartridge-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Cartridge-BoldRough;
  src: url("/fonts/Cartridge/Cartridge-BoldRough.woff2") format("woff2");
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    min-height: 100vh;
  }
}

html {
  max-width: 1100px;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  width: 0.2em;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--accent-blue);
  outline: 1px solid var(--surface1);
}

body {
  /* font-family: ui-sans-serif, system-ui, apple-system, "BlinkMacSystemFont",
    "IBM Plex Sans"; */
  font-family: var(--font-body);
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.5;
  background: var(--background);
  color: var(--text1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  max-width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: BlinkMacSystemFont;
  color: var(--brand);
  line-height: 1.3;
  text-wrap: balance;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h1.fourohfour {
  font-family: GrandSans-Regular;
  font-size: 4rem;
  margin: -0.5rem 0;
}

@media only screen and (max-width: 699px) {
  h1.fourohfour {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 370px) {
  h1.fourohfour {
    font-size: 2rem;
  }
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

a {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: var(--hyperlink);
}

a:hover {
  text-underline-offset: 0.2em;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  text-decoration-color: var(--brand);
}

p a {
  text-underline-offset: 0.2em;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

p a:hover {
  text-decoration-color: var(--brand);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: var(--brand);
}

svg#apple-icon {
  width: 1.5em;
  height: 1.5em;
  margin-bottom: -0.45rem;
}
svg#menu-home-icon {
  fill: var(--accent-orange-darker);
  width: 1.25em;
  height: 1.25em;
}
div.menu svg#message-edit-icon {
  width: 1.25em;
  height: 1.25em;
  fill: var(--accent-red);
}
svg#menu-link-icon {
  fill: var(--accent-green);
  width: 1.25em;
  height: 1.25em;
}
svg#menu-info-icon {
  fill: var(--accent-purple);
  width: 1.25em;
  height: 1.25em;
}
svg#menu-search-icon {
  fill: var(--accent-blue);
  width: 1.25em;
  height: 1.25em;
}
svg#menu-moon-icon,
svg#menu-sun-icon,
svg#menu-hypercritical-icon {
  fill: var(--theme-toggle);
  width: 1.25em;
  height: 1.25em;
  margin-left: 2em;
  margin-bottom: 0.25em;
}
@media only screen and (max-width: 550px) {
  svg#menu-moon-icon,
  svg#menu-sun-icon,
  svg#menu-hypercritical-icon {
    margin-left: 0;
  }
}
svg#inline-mastodon-icon {
  fill: var(--accent-purple);
  width: 1.25em;
  height: 1.25em;
  margin-bottom: -0.333em;
}
svg#footer-github-icon {
  fill: var(--accent-white);
  width: 1.5em;
  height: 1.5em;
}
svg#footer-mastodon-icon {
  fill: var(--accent-purple);
  width: 1.5em;
  height: 1.5em;
}
svg#footer-rss-icon {
  fill: var(--accent-orange-darker);
  width: 1.65em;
  height: 1.65em;
  margin-right: -0.25em;
}
svg#footer-history-icon {
  fill: var(--accent-green);
  width: 1.65em;
  height: 1.65em;
  margin-bottom: -0.05em;
}
svg#menu-home-icon:hover,
div.menu svg#message-edit-icon:hover,
svg#menu-link-icon:hover,
svg#menu-info-icon:hover,
svg#menu-search-icon:hover,
svg#menu-moon-icon:hover,
svg#footer-github-icon:hover,
svg#footer-mastodon-icon:hover,
svg#footer-rss-icon:hover,
svg#footer-history-icon:hover {
  fill: var(--brand);
}
a svg:hover,
button svg:hover {
  transform-origin: center;
  transform: scale(1.5);
}

h1 svg#message-edit-icon {
  width: 1.25em;
  height: 1.25em;
  margin: 0 0.25em -0.333em 0;
  fill: var(--hyperlink);
}
svg#post-link-icon {
  width: 1.1em;
  height: 1.1em;
  margin-bottom: -0.25em;
  fill: var(--brand);
  padding: 0.25rem;
}
svg#copy-icon {
  fill: var(--hyperlink);
  width: 1.25em;
  height: 1.25em;
  margin: 0 0.25em -0.25em 0;
}
svg#location-plus-icon {
  fill: var(--accent-pink);
  width: 2.5em;
  height: 2.5em;
}
svg#calendar-fill-icon {
  fill: var(--dates);
  width: 1.1em;
  height: 1.1em;
  margin-bottom: -0.2em;
}
svg#tag-icon {
  fill: var(--brand);
  width: 1.2em;
  height: 1.2em;
  margin: 0 0.25em -0.333em 0;
}
h1 svg#tag-icon,
p.posts-link svg#tag-icon {
  margin: 0 0 -0.333em 0;
}
p.posts-link svg#tag-icon {
  fill: var(--hyperlink);
}
svg#globe-icon {
  width: 1em;
  height: 1em;
  margin-bottom: -0.2em;
  fill: var(--hyperlink);
}
svg#right-arrow-circle-icon {
  width: 1.5em;
  height: 1.5em;
  margin-bottom: -0.333em;
  fill: var(--text1);
}
div.seriescloud svg#layer-icon {
  width: 2.25em;
  height: 2.25em;
  fill: var(--text1);
  margin: 0 0.75em -0.333em 0;
}
span#series-list svg#layer-icon {
  width: 1.25em;
  height: 1.25em;
  margin-bottom: -0.3em;
  fill: var(--brand);
}
div.tagcloud svg#tag-icon {
  width: 3em;
  height: 3em;
  fill: var(--text1);
  margin: 0 0.75em -0.333em 0;
}
span.all-series svg#plus-circle-icon,
p.series-link svg#plus-circle-icon {
  width: 1.25em;
  height: 1.25em;
  fill: var(--hyperlink);
  margin-bottom: -0.25em;
}

svg.secret-link-icon {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  align-self: center;
  margin: 6em auto 4em;
  stroke: var(--accent-pink);
  fill: var(--surface1);
}

blockquote,
.up {
  font-style: italic;
  font-size: 0.95em;
  opacity: 0.9;
  padding: 1em 1em;
  margin: 0 0.2em;
  quotes: "\201C" "\201D";
  background-color: var(--quote-bg);
  border-radius: 0.5rem;
}

blockquote:before {
  color: var(--quote);
  opacity: 1;
  content: open-quote;
  font-family: var(--font-blockquote-before);
  font-size: 5.5em;
  line-height: 0.05em;
  margin-right: 0.2em;
  vertical-align: -0.45em;
}
blockquote p {
  display: inline;
}

blockquote.text-post-media {
  margin: auto;
  display: block;
}

div.threads-post {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.update {
  padding: 0.5em 1em;
}

a.readit {
  font-style: italic;
}

div.time,
div.time a {
  font-weight: bold;
  font-size: 0.9em;
  color: var(--dates);
}

div.time {
  margin-bottom: 0.5rem;
}

article {
  margin: 3em 0 6em;
}

article ul {
  max-width: 90%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

article ul li {
  font-size: 0.95em;
}

article h2#contents,
article h2#contents + ul {
  font-style: italic;
}

article img {
  display: flex;
  justify-content: center;
  margin: 2em auto;
  max-width: 820px;
  height: auto;
  border: 1px solid var(--accent-pink);
  border-radius: 0.3rem;
  content-visibility: auto;
}

div.use-header img {
  margin: 0.5rem;
}

div.uses h2:not(:first-of-type) {
  margin-top: 3rem;
  /* margin-bottom: 0; */
}
div.uses h3 {
  color: var(--accent-pink);
  /* margin-top: 0; */
}
div.uses ul {
  padding: 0;
  margin: 0;
}
div.uses ul > li:first-child {
  margin: 0;
}
div.uses ul strong {
  font-size: 1.3em;
}
div.uses img {
  max-width: 300px;
  display: block;
  margin: 0 0 2em;
  padding: 0;
}
@media only screen and (max-width: 699px) {
  div.uses ul {
    margin-left: 1rem;
  }
  div.uses img {
    max-width: 250px;
    margin: 0 auto;
  }
}

div.change p {
  margin: 0 1em;
}
div.change ol li {
  margin: 0 1em 1em;
  font-style: italic;
  font-size: 0.9em;
}

@media only screen and (max-width: 1300px) {
  article img {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    max-width: 95%;
    height: auto;
    border: 1px solid var(--accent-pink);
    border-radius: 5px;
    content-visibility: auto;
  }
}

div.expressive-code {
  margin: 1rem 0;
}

pre.astro-code {
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  margin: 2rem 0;
  font-size: 0.8em;
}

pre.astro-code::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

pre.astro-code::-webkit-scrollbar-thumb {
  background-color: var(--accent-blue);
  outline: 1px solid var(--surface1);
}

div.hero img {
  display: block;
  margin: 3rem auto;
  border-radius: 5px;
  border: 2px solid var(--brand);
  max-width: 100%;
}

@media only screen and (max-width: 460px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  article {
    margin: 0 0 2rem;
  }

  article ul {
    margin: 0;
  }

  article ul li {
    padding: 0.5rem 0;
  }
  div.seriescloud svg#layer-icon {
    width: 2.25rem;
    height: 2.25rem;
    margin: 0 0.75rem 0 0;
  }
  div.tagcloud svg#tag-icon {
    width: 2rem;
    height: 2rem;
    margin: 0 0.75rem 0 0;
  }
  span.all-series svg#plus-circle-icon {
    width: 1em;
    height: 1em;
    fill: var(--hyperlink);
    margin-bottom: -0.15em;
  }
}

table,
th,
td {
  padding: 0.75rem;
  margin: 2.5rem 0;
  border-collapse: collapse;
  vertical-align: top;
  text-align: left;
}

div.tagcloud,
div.seriescloud {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
  padding: 2rem;
  background-color: var(--surface-menu);
  border-radius: 0.5rem;
}
div.tagcloud span,
div.seriescloud span {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  font-weight: bold;
}
[data-icon="mdi:plus-box-multiple"] {
  font-size: 3rem;
  margin: 0 1.5rem -0.175rem 0;
}
[data-icon="mdi:tag-multiple"] {
  font-size: 5rem;
  margin: 0 1.5rem 0 0;
}

div.now ul li {
  margin: 0.25rem 0;
  padding: 0;
}

.footnote-container {
  display: inline-block;
  position: relative;
  text-indent: 0;
}
.footnote-backdrop {
  cursor: pointer;
}
.footnote-button {
  background: var(--footnote-bubble);
  border: 0;
  border-radius: 0.475em;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  height: 0.95em;
  line-height: 0;
  margin: 0 0.1em 0 0.2em;
  padding: 0.35em;
  position: relative;
  top: -0.2em;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background;
  transition-property: background;
  vertical-align: super;
  width: 1.5em;
  z-index: 1;
}
.footnote-button:after {
  color: var(--surface1);
  content: attr(data-fn-number);
  display: block;
  font-size: 0.57em;
  font-weight: 700;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
}
.footnote-button:hover {
  background: var(--brand);
  outline: 0;
}
.footnote-button:hover:after {
  color: var(--surface1);
}
.footnote-button.is-active {
  background: var(--text1);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.footnote-button.is-active:after {
  color: var(--surface1);
}
.bf-footnote {
  background: var(--footnote-bg);
  color: var(--footnote-text);
  border: 1px solid var(--footnote-border);
  border-radius: 0.25em;
  left: 0;
  margin: 1.618em 0;
  max-width: 90vw;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 3;
}
.bf-footnote a {
  color: var(--footnote-link);
}
.bf-footnote.footnote-is-active {
  opacity: 0.97;
}
.bf-footnote.footnote-is-top {
  bottom: 0;
  top: auto;
}
.footnote-wrapper {
  background: inherit;
  border-radius: 0.25em;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 22em;
  z-index: 5;
}
.footnote-tooltip {
  background: inherit;
  border: 1px solid var(--footnote-border);
  height: 1.3em;
  position: absolute;
  top: -0.49em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 1.3em;
  z-index: 4;
}
.footnote-is-top .footnote-tooltip {
  bottom: -0.49em;
  top: auto;
}
.footnote-content {
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1.418em;
  max-height: 15em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1em;
  position: relative;
  z-index: 2;
}
.footnote-content :first-child {
  margin-top: 0;
  padding-top: 0;
}
.footnote-content :last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

iframe {
  margin: 2em auto;
  display: block;
  width: 98%;
}

#search .pagefind-ui__search-input,
#search .pagefind-ui__search-clear {
  background-color: var(--pagefind-input-background);
  color: white;
}
#search .pagefind-ui__result-title,
#search .pagefind-ui__result-link {
  display: inline-block;
  font-weight: 700;
  font-size: calc(40px * var(--pagefind-ui-scale));
  color: var(--pagefind-ui-result-title-text);
}
#search .pagefind-ui__result-excerpt {
  color: var(--pagefind-ui-result-text);
  font-weight: 400;
  font-size: calc(1.5rem * var(--pagefind-ui-scale));
}
#search .pagefind-ui__message {
  color: var(--pagefind-ui-message-text);
  margin: calc(0.5rem * var(--pagefind-ui-scale)) 0
    calc(1.5rem * var(--pagefind-ui-scale))
    calc(0.5rem * var(--pagefind-ui-scale));
}
#search .pagefind-ui__button {
  color: white;
  background: var(--pagefind-button-background);
}
#search .pagefind-ui__result-thumb {
  display: none;
}
