---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import SeriesList from "../../components/SeriesList.astro";
import site from "../../data/site.json";

const allPosts = await getCollection("posts");
const allSeries = allPosts
  .map((post) => post.data.series)
  .filter((series) => series !== undefined)
  .filter((series, index, self) => self.indexOf(series) === index)
  .sort();

let title = "Series - " + site.title;
let description = "Series of related posts on " + site.title + ".";
---

<Base title={title} description={description}>
  <article data-pagefind-ignore>
    <span>
      <h1>
        <a href="/series">Series</a>
      </h1>
      <div class="my-12 mx-4">
        {
          allSeries.map((series) => (
            <SeriesList series={series} posts={allPosts} />
          ))
        }
      </div>
    </span>
  </article>
</Base>
