---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import SeriesList from "../../components/SeriesList.astro";
import site from "../../data/site.json";
import LayerIcon from "../../components/icons/LayerIcon.astro";

const allPosts = await getCollection("posts");
const allSeries = allPosts
  .map((post) => post.data.series)
  .filter((series) => series !== undefined)
  .filter((series, index, self) => self.indexOf(series) === index)
  .sort();

let title = "Series - " + site.title;
let description = "Series of related posts on " + site.title + ".";
---

<Base title={title} description={description}>
  <article data-pagefind-ignore>
    <span id="series-list">
      <h1>
        <LayerIcon />
        <a href="/series">Series</a>
      </h1>
      <div class="series">
        {
          allSeries.map((series) => (
            <SeriesList series={series} posts={allPosts} />
          ))
        }
      </div>
    </span>
  </article>
</Base>

<style>
  div.series {
    margin: 3em 1em;
  }
  span#series-list [data-icon="mdi:plus-box-multiple"] {
    font-size: 3.5rem;
    margin: 0 0.5rem -0.75rem 0;
  }
</style>
