---
import Base from "../../layouts/Base.astro";
import TagCloud from "../../components/TagCloud.astro";
import site from "../../data/site.json";

let title = "Tags - " + site.title;
let description = "Tags used in posts on " + site.title + ".";
---

<Base title={title} description={description}>
  <article data-pagefind-ignore>
    <span id="tag-cloud">
      <h1><a href="/tags">Tags</a></h1>
      <div class="my-10 mx-auto max-w-4xl">
        <TagCloud showCount="true" displayNumber="999" />
      </div>
    </span>
  </article>
</Base>
