---
import { getEntry, render } from "astro:content";
import Base from "../layouts/Base.astro";

const change = await getEntry("changelog", "changelog");
const { Content } = await render(change);

let title = change.data.title;
let description = change.data.description;
---

<Base title={title} description={description}>
  <article>
    <h1>{title}</h1>
    <div class="change">
      <Content />
    </div>
  </article>
</Base>
