---
import Base from "../layouts/Base.astro";
import site from "../data/site.json";
import Changelog from "../components/Changelog.astro";
import LatestPosts from "../components/LatestPosts.astro";

let title = site.title;
let description = site.description;
---

<Base title={title} description={description}>
  <article>
    <h1>Throwing It Back</h1>
    <p>
      <a href="https://scottwillsey.com/">scottwillsey</a> is a website owned by
      me, Scott Willsey. I'm throwing it back to the <a
        href="https://indieweb.org/IndieWeb">indieweb</a
      > with a website that's just about <a href="/links">links</a>, <a
        href="/now">things I'm doing now</a
      >, <a href="/1">whatever Mac or web stuff I'm working on</a>, and <a
        href="/reviews">etc</a
      >, <a href="/reads">etc</a>.
    </p>
    <div
      class="grid grid-cols-1 sm:grid-cols-3 gap-4 my-8 mx-auto lg:max-w-[90%] divide-x-3 divide-dotted divide-hyperlink"
    >
      <div>
        <LatestPosts
          showBackground={false}
          showBrowseAll={false}
          postCount={3}
        />
      </div>
      <div>
        <h1 class="text-[1.5rem]">
          <a href="/1"><div class="text-hyperlink ml-2">Recent Updates</div></a>
        </h1>
        <section id="updates" class="text-[0.8em]">
          <ul>
            <li><a href="/links">Links</a></li>
            <li><a href="/now">/now</a></li>
            <li><a href="/uses">/uses</a></li>
            <li><a href="/links#CoolSiteSpotlight">Cool Site Spotlight</a></li>
          </ul>
        </section>
      </div>
      <div><Changelog /></div>
    </div>
    <div
      class="mx-auto my-16 max-w-[95%] flex justify-center gap-[2em] text-text1 text-[1.75rem] font-title-nihongo"
    >
      <div class="rotate-[-3deg]">追跡なし!!</div>
      <div class="rotate-[-3deg]">隠し料金なし!!</div>
      <div class="rotate-[-3deg]">広告なし!!</div>
    </div>
  </article>
</Base>
