---
import Base from "../layouts/Base.astro";
import site from "../data/site.json";
import Changelog from "../components/Changelog.astro";

let title = site.title;
let description = site.description;
---

<Base title={title} description={description}>
  <article>
    <h1>Throwing It Back</h1>
    <p>
      <a href="https://scottwillsey.com/">scottwillsey</a> is a website owned by
      me, Scott Willsey. I'm throwing it back to the <a
        href="https://indieweb.org/IndieWeb">indieweb</a
      > with a website that's just about <a href="/links">links</a>, <a
        href="/now">things I'm doing now</a
      >, <a href="/1">whatever Mac or web stuff I'm working on</a>, and <a
        href="/reviews">etc</a
      >, <a href="/reads">etc</a>.
    </p>
    <div><Changelog /></div>
    <div
      class="mx-auto my-16 max-w-[95%] flex justify-center gap-[2em] text-text1 text-[1.75rem] font-title-nihongo"
    >
      <div class="rotate-[-3deg]">追跡なし!!</div>
      <div class="rotate-[-3deg]">隠し料金なし!!</div>
      <div class="rotate-[-3deg]">広告なし!!</div>
    </div>
  </article>
</Base>
