---
import { getCollection } from "astro:content";
import { slugify } from "../components/utilities/StringFormat.js";
import SearchBar from "../components/Search.astro";
import TagCloud from "../components/TagCloud.astro";
import Base from "../layouts/Base.astro";
import site from "../data/site.json";

const allPosts = await getCollection("posts");
const allSeries = allPosts
  .map((post) => post.data.series)
  .filter((series) => series !== undefined)
  .filter((series, index, self) => self.indexOf(series) === index)
  .sort();

const title = "Search " + site.title;
---

<Base title={title} description={title}>
  <article data-pagefind-ignore>
    <h1>Search</h1>

    <SearchBar />

    <div class="tagcloud my-10 mx-auto max-w-4xl">
      <h3 class="text-text1 my-6">Some Tags</h3>
      <TagCloud showCount="true" displayNumber="11" />
    </div>
  </article>
</Base>
