---
import { getCollection } from "astro:content";
import { slugify } from "../components/utilities/StringFormat.js";
import SearchBar from "../components/Search.astro";
import TagCloud from "../components/TagCloud.astro";
import Base from "../layouts/Base.astro";
import site from "../data/site.json";

const allPosts = await getCollection("posts");
const allSeries = allPosts
  .map((post) => post.data.series)
  .filter((series) => series !== undefined)
  .filter((series, index, self) => self.indexOf(series) === index)
  .sort();

const title = "Search " + site.title;
---

<Base title={title} description={title}>
  <article data-pagefind-ignore>
    <h1>Search</h1>

    <SearchBar />

    <div class="seriescloud">
      <span>Series</span>
      <div>
        {
          allSeries.map((series) => (
            <span>
              <a href={`/series/${slugify(series)}/`}>{series}</a>
            </span>
          ))
        }
        <span class="all-series">
          <a href="/series">Browse all series</a>
        </span>
      </div>
    </div>
    <div class="tagcloud">
      <span>Some Tags</span>
      <TagCloud showCount="true" displayNumber="11" />
    </div>
  </article>
</Base>
<style>
  div.seriescloud div {
    display: flex;
    flex-direction: column;
    margin: 0 2em;
    padding: 0;
  }
  div.seriescloud div span {
    font-weight: 300;
    font-size: 1.1rem;
  }
  span.all-series a {
    margin-top: 1em;
    font-weight: bold;
  }

  @media only screen and (max-width: 460px) {
    div.seriescloud,
    div.tagcloud {
      margin: 0 0.75em;
      font-size: 0.75rem;
    }
    div.seriescloud div {
      gap: 0.25rem;
      margin: 0 1rem;
    }
    span.all-series a {
      font-size: 0.75rem;
    }
  }
</style>
