---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import av from "../assets/images/saw111.jpg";
---

<div class="header">
  <div class="title">
    <div><a href="/">sc</a></div>
    <div class="title-image">
      <a href="/">
        <Image src={av} width={100} format={"webp"} alt="Scott avatar" />
      </a>
    </div>
    <div><a href="/">tt·willsey</a></div>
  </div>
  <div id="menu-link-div" class="menu-link">
    <a href="#main-nav"><Icon id="menu-icon" name="fluent:list-28-filled" /></a>
  </div>
</div>

<style>
  .header {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 2rem auto 2.5rem;
    color: var(--brand);
  }

  .header div.title {
    display: grid;
    justify-items: center;
    grid-template-columns: fit-content(33%) fit-content(33%) fit-content(33%);
    font-family: var(--font-title);
    font-size: clamp(1.8rem, 5.5vw + 1rem, 8rem);
    text-shadow:
      -1px 0 var(--accent1),
      0 1px var(--accent1),
      1px 1px var(--accent1),
      0 -1px var(--accent1);
    padding: 0;
    margin: 0 auto 0.5rem;
    width: fit-content;
  }

  .header div.title a {
    color: var(--title);
  }

  .header div.title-image img {
    border-radius: 50%;
    border: 1px solid var(--hyperlink);
    width: clamp(1.25rem, 2.75vw + 1rem, 4.5rem);
    height: clamp(1.25rem, 2.75vw + 1rem, 4.5rem);
    margin-bottom: -0.25rem;
    box-shadow:
      -1px 0 var(--accent1),
      0 1px var(--accent1),
      1px 1px var(--accent1),
      0 -1px var(--accent1);
    -webkit-box-shadow:
      -1px 0 var(--accent1),
      0 1px var(--accent1),
      1px 1px var(--accent1),
      0 -1px var(--accent1);
    -moz-box-shadow:
      -1px 0 var(--accent1),
      0 1px var(--accent1),
      1px 1px var(--accent1),
      0 -1px var(--accent1);
  }

  @media only screen and (max-width: 460px) {
    .header div.title {
      text-shadow: 1px 1px 1px var(--accent1);
    }
    .header div.title-image img {
      box-shadow: 1px 1px 1px var(--accent1);
      -webkit-box-shadow: 1px 1px 1px var(--accent1);
      -moz-box-shadow: 1px 1px 1px var(--accent1);
    }
  }

  .header div.title a {
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  .menu-link [data-icon] {
    font-size: clamp(1rem, 2vw + 1rem, 2.5rem);
    margin-bottom: -0.25rem;
  }
</style>
