---
import { Image } from "astro:assets";
import Menu from "./Menu.astro";
import av from "../assets/images/saw111.jpg";
---

<div
  class="flex items-center justify-between my-4 mx-auto mb-12 text-title w-full max-w-[1000px] flex-col xl:flex-row xl:gap-8 xl:mb-2"
>
  <div class="relative">
    <a href="/" class="text-title no-underline m-0 p-0 hover:text-title-hover">
      <div
        class="grid justify-items-center grid-cols-[fit-content(33%)_fit-content(33%)_fit-content(33%)] font-title text-[3.5rem] p-0 m-0 w-fit"
      >
        <div>sc</div>
        <div>
          <Image
            src={av}
            width={100}
            format={"webp"}
            alt="Scott avatar"
            class="rounded-full border-2 border-brand w-[0.55em] h-[0.55em] -mb-[0.5em] hover:border-title-hover hover:scale-110 hover:origin-center"
          />
        </div>
        <div>ttwillsey</div>
      </div>
    </a>
    <div class="absolute -bottom-[0.9em] left-[4em] m-0 p-0 xs:left-[6em]">
      <span
        class="rotate-[-5deg] inline-block text-text1 text-[1.2rem] font-title-nihongo"
        >新無料サイト!!</span
      >
    </div>
  </div>
  <div class="p-0 m-0 xl:-mb-2 xs:m-0">
    <Menu />
  </div>
</div>
