---
import { Image } from "astro:assets";
import Menu from "./Menu.astro";
import av from "../assets/images/saw111.jpg";
---

<div
  class="flex items-center justify-center my-4 mx-auto text-title w-full max-w-[1000px] flex-col gap-8 min-[850px]:flex-row min-[850px]:justify-between min-[850px]:mb-2 min-[850px]:px-10 min-[950px]:px-8 min-[1050px]:px-6"
>
  <div class="relative">
    <a href="/" class="text-title no-underline m-0 p-0 hover:text-title-hover">
      <div
        class="grid items-end justify-items-center grid-cols-[fit-content(33%)_fit-content(33%)_fit-content(33%)] font-title text-[3.5rem] p-0 m-0 w-fit"
      >
        <div>sc</div>
        <div class="title-image">
          <Image src={av} width={100} format={"webp"} alt="Scott avatar" />
        </div>
        <div>ttwillsey</div>
      </div>
    </a>
    <div class="absolute -bottom-[0.9em] left-[4em] m-0 p-0 xs:left-[6em]">
      <span
        class="rotate-[-5deg] inline-block text-text1 text-[1.2rem] font-title-nihongo"
        >新無料サイト!!</span
      >
    </div>
  </div>
  <div class="p-0 m-0 min-[850px]:-mb-2 xs:m-0">
    <Menu />
  </div>
</div>
<style>
  div.title-image img {
    border-radius: 50%;
    border: 2px solid var(--brand);
    width: 0.65em;
    height: 0.65em;
    margin-bottom: 0.3em;
  }

  div.title-image img:hover {
    border-color: var(--title-hover);
    transform-origin: center;
    transform: scale(1.1);
  }
</style>
