---
import MenuLayoutLeft from "./icons/MenuLayoutLeft.astro";
import MenuLayoutRight from "./icons/MenuLayoutRight.astro";
import ModeDark from "./icons/ModeDark.astro";
import ModeLight from "./icons/ModeLight.astro";
---

<div class="menu">
  <a href="/1">blog</a>
  <a href="/links">links</a>
  <a href="/now">/now</a>
  <a href="/reviews">reviews</a>
  <a href="/about">about</a>
  <button id="theme-toggle" aria-label="Switch to dark theme">
    <ModeDark />
    <ModeLight />
  </button>
</div>
<script is:inline>
  const setTheme = () => {
    const themeToggle = document.getElementById("theme-toggle");

    let currentTheme = localStorage.getItem("theme");
    switch (currentTheme) {
      case "light":
        enableLightTheme();
        break;
      case "hypercritical":
        enableHypercriticalTheme();
        break;
      case "dark":
        enableDarkTheme();
        break;
      default:
        enableDarkTheme();
        break;
    }

    themeToggle.addEventListener("click", () => {
      if (document.documentElement.hasAttribute("site-theme")) {
        currentTheme = document.documentElement.getAttribute("site-theme");
      }
      toggleTheme(currentTheme);
    });

    function enableDarkTheme() {
      document.documentElement.setAttribute("site-theme", "dark");
      localStorage.setItem("theme", "dark");
      document.getElementById("mode-light-icon").style.display = "none";
      document.getElementById("mode-dark-icon").style.display = "inline";
    }

    function enableLightTheme() {
      document.documentElement.setAttribute("site-theme", "light");
      localStorage.setItem("theme", "light");
      document.getElementById("mode-light-icon").style.display = "inline";
      document.getElementById("mode-dark-icon").style.display = "none";
    }

    function toggleTheme(currentTheme) {
      if (currentTheme) {
        switch (currentTheme) {
          case "light":
            enableDarkTheme();
            break;
          case "dark":
            enableLightTheme();
            break;
          default:
            enableLightTheme();
            break;
        }
      } else {
        enableLightTheme();
      }
    }
  };

  setTheme();

  document.addEventListener("astro:after-swap", setTheme);
</script>
<style>
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.75em;
    width: fit-content;
    background-color: var(--nav-bg);
    border: 1px solid var(--nav-border);
    border-radius: 0.5em;
    padding: 0.25em 0.5em 0.25em 1em;
    font-size: 1.5rem;
  }
  button#theme-toggle {
    cursor: pointer;
    background: 0;
    border: 0;
    border-radius: 50%;
  }
</style>
