---
import HomeIcon from "./icons/MenuHomeIcon.astro";

// Responsive icon size - starts at 2rem, scales down at breakpoints
const iconSizes = {
  default: "2rem",
  small: "1.7rem",    // for 600px and below
  smaller: "1.6rem",  // for 470px and below
  smallest: "1.4rem", // for 425px and below
};
---

<div
  class="flex flex-wrap justify-center items-center gap-3 w-fit bg-nav-bg border border-nav-border rounded-lg py-1 px-2 text-2xl max-[600px]:text-[0.85em] max-[470px]:text-[0.8em] max-[425px]:text-[0.7em]"
>
  <a href="/" class="icon-link">
    <HomeIcon size={iconSizes.default} fill="var(--theme-toggle)" />
  </a>
  <a href="/1">blog</a>
  <a href="/links">links</a>
  <a href="/now">/now</a>
  <a href="/reviews">reviews</a>
  <a href="/about">about</a>
</div>

<style>
  /* Scale icons at breakpoints to match text scaling */
  @media (max-width: 600px) {
    .icon-link :global(svg) {
      width: 1.7rem;
      height: 1.7rem;
    }
  }

  @media (max-width: 470px) {
    .icon-link :global(svg) {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  @media (max-width: 425px) {
    .icon-link :global(svg) {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
</style>
