---
import { Icon } from "astro-icon";
import { titleCase } from "./utilities/StringFormat.js";

const { post } = Astro.props;
---

<a href={post.data.link ? post.data.link : `/${post.slug}`}>
  {post.data.link ? <Icon name="ion:ios-link" /> : ""}
  {titleCase(post.data.title)}
</a>

<style>
  [astro-icon] {
    width: 1em;
    margin-bottom: -0.5rem;
    background-color: var(--surface-menu);
    padding: 0.25rem;
    border-radius: 50%;
  }
</style>
