---
import { titleCase } from "./utilities/StringFormat.js";
import PostLinkIcon from "./icons/PostLinkIcon.astro";

const { post } = Astro.props;
---

<a href={post.data.link ? post.data.link : `/${post.slug}`}>
  {post.data.link ? <PostLinkIcon /> : ""}
  {titleCase(post.data.title)}
</a>
