---
import { titleCase } from "./utilities/StringFormat.js";
import PostLinkIcon from "./icons/PostLinkIcon.astro";

const { post } = Astro.props;
---

{
  post.data.link ? (
    <span class="inline-flex items-center">
      <span data-pagefind-ignore class="mr-[0.3em] ml-[-0.1em]">
        <PostLinkIcon size="1.3em" />
      </span>
      <a href={post.data.link}>{titleCase(post.data.title)}</a>
    </span>
  ) : (
    <a href={`/${post.id}`}>{titleCase(post.data.title)}</a>
  )
}
