---
// This component is automatically updated by the pre-commit hook
---

<section id="updates" class="text-[0.8em]">
  <ul>
    <li><a href="/now">/now</a></li>
    <li><a href="/reviews/tv/1">TV Reviews</a></li>
  </ul>
</section>
