---
// This component is automatically updated by the pre-commit hook
---

<section id="updates" class="text-[0.8em]">
  <ul>
    <li><a href="/links">Links</a></li>
    <li><a href="/now">/now</a></li>
    <li><a href="/reviews/books/1">Book Reviews</a></li>
    <li><a href="/links#CoolSiteSpotlight">Cool Site Spotlight</a></li>
  </ul>
</section>
