---
import Search from "astro-pagefind/components/Search.astro";
---

<div class="search-component">
  <Search className="pagefind-ui" />
</div>

<style>
  div.search-component {
    margin: 0 auto;
  }
</style>
