---
import SearchBar from "./Search.astro";
import LatestPosts from "./LatestPosts.astro";
import AppleIcon from "./icons/AppleIcon.astro";
import RecentUpdates from "./RecentUpdates.astro";

const { pathname } = Astro.url;
const isHome = pathname === "/";
---

<div class="rounded-lg px-2 pt-4 text-base">
  <h1 class="text-[2rem] my-3">
    <a href="/about"><div class="text-hyperlink">About</div></a>
  </h1>
  <p>
    I write about <a href="/1" class="text-hyperlink-blurb"
      >computing related topics</a
    >. You can <a href="/search" class="text-hyperlink-blurb">search</a> or <a
      href="/1"
      class="text-hyperlink-blurb">browse</a
    > this site. Most of what I write about here is
    <AppleIcon /><a href="/tags/mac/" class="text-hyperlink-blurb">Mac</a> or web
    related.
    <a href="/now" class="text-hyperlink-blurb">Here</a>
    is what I'm up to <a href="/now" class="text-hyperlink-blurb">now</a>, and <a
      href="/uses"
      class="text-hyperlink-blurb">here</a
    > is what I <a href="/uses" class="text-hyperlink-blurb">use</a>.
  </p>
</div>
<div class="mt-2 mb-4 mx-auto">
  <SearchBar />
</div>
{!isHome && <LatestPosts />}
<span data-pagefind-ignore="all">
  <h1 class="text-[1.5rem] my-3">
    <a href="/1"><div class="text-hyperlink ml-2">Useful Stuff</div></a>
  </h1>
  <section id="useful" class="text-[0.8em]">
    <ul>
      <li><a href="/search">Search</a></li>
      <li><a href="/links">Links</a></li>
      <li><a href="/now">/now</a></li>
      <li><a href="/reviews">Reviews</a></li>
      <li><a href="/uses">/uses</a></li>
      <li><a href="/reads/1">Reads</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/tags">#tags</a></li>
    </ul>
  </section>
  {
    !isHome && (
      <>
        <h1 class="text-[1.5rem]">
          <div class="text-hyperlink ml-2">Recent Updates</div>
        </h1>
        <RecentUpdates />
      </>
    )
  }
</span>
