---
import { Icon } from "astro-icon/components";
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import site from "../data/site.json";
import "../styles/sw3.css";

export interface Props {
  title: string;
  description: string;
  url: string;
}

const { title, description } = Astro.props;
---

<html lang="en" site-theme="dark" data-theme="light-plus">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <!-- <ViewTransitions /> -->
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="preload"
      href="/fonts/BlinkMacSystemFont-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="ScottWillsey"
      href="https://scottwillsey.com/rss.xml"
    />
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="WOWKMLBK" defer
    ></script>
    <!-- / Fathom -->
  </head>
  <body>
    <div id="wrapper-grid">
      <aside>
        <nav id="main-nav">
          <div class="menu">
            <a href="/">
              <div class="menu-item">
                <div class="menu-icon"><Icon name="ri:home-7-fill" /></div>
                <div class="menu-text">HOME</div>
              </div>
            </a>
            <a href="/1">
              <div class="menu-item">
                <div class="menu-icon">
                  <Icon name="ep:copy-document" />
                </div>
                <div class="menu-text">POSTS</div>
              </div>
            </a>
            <a href="/about">
              <div class="menu-item">
                <div class="menu-icon">
                  <Icon name="fluent:info-28-filled" />
                </div>
                <div class="menu-text">ABOUT</div>
              </div>
            </a>
            <a href="/now">
              <div class="menu-item">
                <div class="menu-icon">
                  <Icon name="mdi:head-snowflake-outline" />
                </div>
                <div class="menu-text">NOW</div>
              </div>
            </a>
            <a href="/links">
              <div class="menu-item">
                <div class="menu-icon">
                  <Icon name="ion:ios-link" />
                </div>
                <div class="menu-text">LINKS</div>
              </div>
            </a>
            <a href="/uses">
              <div class="menu-item">
                <div class="menu-icon">
                  <Icon name="fluent:window-dev-tools-16-filled" />
                </div>
                <div class="menu-text">USES</div>
              </div>
            </a>
            <a href="/search">
              <div class="menu-item">
                <div class="menu-icon"><Icon name="bi:search" /></div>
                <div class="menu-text">SEARCH</div>
              </div>
            </a>
            <a href="/rss.xml">
              <div class="menu-item">
                <div class="menu-icon"><Icon name="ion:logo-rss" /></div>
                <div class="menu-text">RSS</div>
              </div>
            </a>
            <div class="theme">
              <button id="theme-toggle" aria-label="Switch to dark theme">
                <Icon id="sun-icon" name="octicon:sun-24" />
                <Icon id="moon-icon" name="octicon:moon-24" />
                <svg
                  id="hypercritical-icon"
                  width="24"
                  height="24"
                  viewBox="0 0 48 64"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M44 2H4V0H44.5V2H46V4H44V2ZM46 54V4H48V54H46ZM2 54L46 54V64H2L2 54ZM2 4L2 54H2.14577e-06L0 4H2ZM2 4H4V2H2V4ZM40 8H8V6H40V8ZM40 34V8H42V34H40ZM8 34H40V36H8V34ZM8 34H6V8H8V34ZM15 18V14H17V18H15ZM23 23V14H25V25H21V23H23ZM29 18V14H31V18H29ZM17 29V27H19V29H17ZM27 29V31H19V29H27ZM27 29H29V27H27V29ZM40 46H28V44H40V46ZM10 46V48H6V46H10ZM4 56V62H44V56H4Z"
                  ></path>
                </svg>
              </button>
            </div>
            <script is:inline>
              const setTheme = () => {
                const themeToggle = document.getElementById("theme-toggle");

                let currentTheme = localStorage.getItem("theme");
                switch (currentTheme) {
                  case "light":
                    enableLightTheme();
                    break;
                  case "hypercritical":
                    enableHypercriticalTheme();
                    break;
                  case "dark":
                    enableDarkTheme();
                    break;
                  default:
                    enableDarkTheme();
                    break;
                }

                themeToggle.addEventListener("click", () => {
                  if (document.documentElement.hasAttribute("site-theme")) {
                    currentTheme =
                      document.documentElement.getAttribute("site-theme");
                  }
                  toggleTheme(currentTheme);
                });

                function enableDarkTheme() {
                  document.documentElement.setAttribute("site-theme", "dark");
                  document.documentElement.setAttribute(
                    "data-theme",
                    "material-theme-ocean",
                  );
                  localStorage.setItem("theme", "dark");
                  document.getElementById("sun-icon").style.display = "none";
                  document.getElementById("moon-icon").style.display = "inline";
                  document.getElementById("hypercritical-icon").style.display =
                    "none";
                }

                function enableLightTheme() {
                  document.documentElement.setAttribute("site-theme", "light");
                  document.documentElement.setAttribute(
                    "data-theme",
                    "light-plus",
                  );
                  localStorage.setItem("theme", "light");
                  document.getElementById("moon-icon").style.display = "none";
                  document.getElementById("sun-icon").style.display = "inline";
                  document.getElementById("hypercritical-icon").style.display =
                    "none";
                }

                function enableHypercriticalTheme() {
                  document.documentElement.setAttribute(
                    "site-theme",
                    "hypercritical",
                  );
                  document.documentElement.setAttribute(
                    "data-theme",
                    "github-dark-dimmed",
                  );
                  localStorage.setItem("theme", "hypercritical");
                  document.getElementById("moon-icon").style.display = "none";
                  document.getElementById("sun-icon").style.display = "none";
                  document.getElementById("hypercritical-icon").style.display =
                    "inline";
                }

                function toggleTheme(currentTheme) {
                  if (currentTheme) {
                    switch (currentTheme) {
                      case "light":
                        enableDarkTheme();
                        break;
                      case "hypercritical":
                        enableLightTheme();
                        break;
                      case "dark":
                        enableHypercriticalTheme();
                        break;
                      default:
                        enableDarkTheme();
                        break;
                    }
                  } else {
                    enableDarkTheme();
                  }
                }
              };

              setTheme();

              document.addEventListener("astro:after-swap", setTheme);
            </script>
          </div>
        </nav>
      </aside>
      <main>
        <Header />
        <slot />
        <Footer />
      </main>
    </div>
    <script is:inline src="/scripts/barefoot.min.js"></script>
    <script is:inline>
      lf = new BareFoot();
      lf.init();
    </script>
  </body>
</html>
<style>
  nav {
    margin-top: 14rem;
    padding: 2rem;
    background-color: var(--surface-menu);
    border-radius: 10px;
    position: sticky;
    top: 3rem;
  }
  nav div.menu {
    justify-self: center;
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    justify-items: start;
    width: fit-content;
    padding: 0;
  }

  nav div.menu a {
    color: var(--accent1);
    text-decoration: none;
  }

  nav div.menu a:hover {
    text-decoration: underline;
  }

  .menu-item {
    display: flex;
    flex-direction: row;
    column-gap: 0.75rem;
    justify-content: flex-start;
    align-items: center;
    color: var(--accent1);
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
  }

  .menu-item [data-icon] {
    font-size: 1.5rem;
    margin-bottom: -0.25rem;
  }

  .theme {
    justify-self: center;
  }

  #theme-toggle {
    cursor: pointer;
    background: 0;
    border: 0;
    border-radius: 50%;
  }

  .theme [data-icon] {
    font-size: 1.25rem;
    color: var(--accent1);
  }

  .theme [data-icon]:hover,
  .theme [data-icon]:focus {
    color: var(--brand);
  }

  .theme #hypercritical-icon {
    width: 1.25rem;
    height: 1.25rem;
    fill: var(--accent1);
  }

  .theme #hypercritical-icon:hover,
  .theme #hypercritical-icon:focus {
    fill: var(--brand);
  }

  .theme [data-icon="octicon:sun-24"],
  .theme svg {
    display: none;
  }

  @media only screen and (max-width: 899px) {
    nav {
      margin-top: 2rem;
    }
    .menu-item {
      column-gap: 1rem;
      font-size: 1rem;
    }

    .theme [data-icon] {
      font-size: 1rem;
    }
  }
</style>
