---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

export interface Props {
  title: string;
  description: string;
  url: string;
}

const { title, description } = Astro.props;
---

<html lang="en" site-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <!-- <ViewTransitions /> -->
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="preload"
      href="/fonts/Cartridge/Cartridge-BoldSoft.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Cartridge/Cartridge-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Atkinson-Hyperlegible/AtkinsonHyperlegibleNext-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Mochiy_Pop_One/MochiyPopOne-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="ScottWillsey"
      href="https://scottwillsey.com/rss.xml"
    />
  </head>
  <body
    class="font-body text-[1.5rem] leading-[1.5] bg-background text-text1 antialiased min-h-screen"
  >
    <div
      class="grid grid-cols-1 grid-rows-[auto_1fr_auto] min-h-screen mx-4 md:mx-8"
    >
      <header class="row-start-1">
        <Header />
      </header>

      <div
        class="row-start-2 grid grid-cols-1 justify-items-center gap-8 max-w-[1600px] w-full mt-8 mx-auto lg:grid-cols-[1fr_3.5fr] lg:justify-items-start"
      >
        <main class="px-2 min-w-0 w-full lg:max-w-full lg:order-2">
          <slot />
        </main>

        <aside class="py-4 px-2 max-w-[700px] lg:max-w-none lg:order-1">
          <Sidebar />
        </aside>
      </div>

      <footer class="row-start-3 text-center">
        <Footer />
      </footer>
      <script is:inline src="/scripts/barefoot.min.js"></script>
      <script is:inline>
        lf = new BareFoot();
        lf.init();
      </script>
    </div>
  </body>
</html>
