---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/sw3.css";

export interface Props {
  title: string;
  description: string;
  url: string;
}

const { title, description } = Astro.props;
---

<html lang="en" site-theme="dark" data-theme="light-plus">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <!-- <ViewTransitions /> -->
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="preload"
      href="/fonts/Cartridge/Cartridge-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/BlinkMacSystemFont-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="ScottWillsey"
      href="https://scottwillsey.com/rss.xml"
    />
  </head>
  <body>
    <main>
      <Header />
      <slot />
      <Footer />
    </main>
    <script is:inline src="/scripts/barefoot.min.js"></script>
    <script is:inline>
      lf = new BareFoot();
      lf.init();
    </script>
  </body>
</html>
